body {
    font-size: 1.3rem;
}

h2 {
    font-size: 2rem;
}

.form-group{
    margin-bottom: 2rem;
}

.form-check {
    margin-bottom: 1rem;
}

.form-check .form-check-input{
    margin-top: 0.6rem;
}

.view {
    display: none;
    height: 100vh;
    overflow: auto;
}

.view .view-wrapper {
    max-width: 23.0rem;
    text-align: center;
    margin: auto;
}

#settings-view .view-wrapper {
    text-align: left;
}

.buttons-wrapper {
    text-align: center;
}

#training-view {
    font-size: 2rem;
}

#training-view .note-text, #training-view .string-text {
    font-size: 2.5rem;
    font-style: bold;
}

#training-view .exercise-wrapper {
    margin-bottom: 2rem;
}

#training-view .between-text {
    padding: 20px 0;
}

#training-view .buttons-wrapper {
    margin-top: 4.5rem;
}

#training-view .stop-button {
    display: block;
    margin-top: 2rem;
    text-decoration: underline;
    font-size: 0.8rem;
}