body {
    font-size: 1.3rem;
}

h2 {
    font-size: 2rem;
}

.form-group {
    margin-bottom: 2rem;
}

.form-check {
    margin-bottom: 1rem;
}

.form-check .form-check-input {
    margin-top: 0.6rem;
}

.view {
    display: none;
    height: 100vh;
    overflow: auto;
}

.view .view-wrapper {
    padding: 10px;
    /* max-width: 23.0rem; */
    width: 22.5rem;
    text-align: center;
    margin: auto;
}

#settings-view .view-wrapper {
    text-align: left;
}

#settings-view label .note {
    font-size: 1rem;
    color: #c0c0c0;
    display: block;
}

.buttons-wrapper {
    text-align: center;
}

.buttons-wrapper .btn {
    display: block;
    margin: auto;
    min-width: 150px;
}

#training-view {
    font-size: 2rem;
}

#training-view .timer-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

#training-view .counter-text {
    font-size: 1.5rem;
    /* margin-bottom: 3rem; */
}

#training-view .note-text, #training-view .string-text {
    font-size: 3.2rem;
    font-weight: bold;
}

#training-view .between-text {
    padding: 0.2rem 0;
    font-size: 2.5rem;
}

#training-view .buttons-wrapper {
    margin-top: 4.5rem;
}

#training-view .buttons-wrapper .stop-button {
    margin-top: 1.5rem;
    background-color: #eeeeee;
    border-color: #eeeeee;
    color: #333;
}

#summary-view .view .view-wrapper {
    text-align: left;
}

#summary-view .tpl-defaut-summary-wrapper h2 {
    margin-bottom: 2.5rem;
}

#summary-view .tpl-defaut-summary-wrapper .stat-block:not(:last-of-type) {
    margin-bottom: 1rem;
}

#summary-view .tpl-defaut-summary-wrapper .stat-value {
    font-weight: bold;
}

#summary-view .buttons-wrapper {
    margin-top: 4.5rem;
}